[submodule "vim/vim/autoload/nerdtree"]
	path = vim/vim/autoload/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/vim/pack/vendor/start/nerdtree"]
	path = vim/vim/pack/vendor/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/vim/pack/vendor/start/supertab"]
	path = vim/vim/pack/vendor/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/vim/pack/vendor/start/tagbar"]
	path = vim/vim/pack/vendor/start/tagbar
	url = git@github.com:preservim/tagbar.git
[submodule "vim/vim/pack/vendor/start/undotree"]
	path = vim/vim/pack/vendor/start/undotree
	url = git@github.com:mbbill/undotree.git
[submodule "vim/vim/pack/vendor/start/vim-commentary"]
	path = vim/vim/pack/vendor/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/vim/pack/vendor/start/vim-fugitive"]
	path = vim/vim/pack/vendor/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/vim/pack/vendor/start/vim-glsl"]
	path = vim/vim/pack/vendor/start/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule "vim/vim/pack/vendor/start/vim-gutentags"]
	path = vim/vim/pack/vendor/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vim/vim/pack/vendor/start/vim-polyglot"]
	path = vim/vim/pack/vendor/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
