[submodule "vim/vim/autoload/nerdtree"]
	path = vim/vim/autoload/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/vim/pack/vendor/start/nerdtree"]
	path = vim/vim/pack/vendor/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/vim/pack/vendor/start/supertab"]
	path = vim/vim/pack/vendor/start/supertab
	url = https://github.com/ervandew/supertab
